template(name='loading')
	.center
		h1 Loading...

template(name='loginRequired')
	.login-form
		h1 Login Required
		form
			table
				tr
					td
						input(name='username', placeholder='email')
				tr
					td
						input(name='password', type='password', placeholder='password')
				tr
					td
						input.btn.btn-primary.submit-button(type='submit', value='Login')

template(name='logout')
	.center
		h1 Logout
		h2 Y'all come back now, ya hear?

template(name='notFound')
	.center
		h1 Nothing here
		h2 You hit a page which doesn't exist!
						
template(name='products')
	h1 Products

template(name='staticText')
	.container-fluid
		.row
			.col-xs-12
				button.btn.btn-primary.pull-right.add-item-button Add Static Text
				h1 Static Text

template(name='users')
	.container-fluid
		.row
			.col-xs-12
				button.btn.btn-primary.pull-right.add-item-button Add User
				h1 Users
