.panel-body.container-fluid
    padding .5em 2em
a:hover
	cursor pointer
.ace_editor
	min-height 300px
	height 100%
.modal-content
	padding-bottom 25px
	select, input
		font-size 14pt
	.btn
		margin-left 1em
.user-login-form
	margin-top 25px
.main-container
	height 100%
	.main-footer
		position absolute
		bottom 0
		right 0
		width 100%
		min-height 1em
.chat-widget
	position absolute
	bottom -10px
	right 20px
	max-width 300px
	ul
		padding 0
		li
			list-style none
		li.is-self
			text-align right
			.username
				display none
		li.is-other
			.message
				display inline
				color white
				background #6cc24a
				padding .5em
				border-radius 13px
			.username
				font-weight bold
				display inline
	.username
		font-weight bold
	.chat-output
		max-height 250px
		overflow scroll
.small-note
	font-size 9pt
.region, .site
	.panel
		min-height 300px
.panel
	ul
		list-style none
		padding-left .5em
	.panel-body
		padding .5em 2em
		h1
			font-size 12pt
			color #434C54
	.panel-footer
		li
			display inline
			margin .25em