.container-fluid.add-content-group-form
	.row
		.modal-header
			h2 Add Content Group to {{addContentGroupData.website}}
		.modal-body
			form
				.col-xs-12
					.form-group
						input.form-control(ng-model="addContentGroupData.name", name='name', type='text', placeholder='Name')
				.col-xs-12
					.form-group
						input.form-control(ng-model="addContentGroupData.slug", name='slug', type='text', placeholder='slug')
				.col-xs-12
					button.btn.btn-default.pull-right(ng-click='addContentGroup(addContentGroupData)') Create Content Group
					button.btn.btn-default.pull-right(ng-click='cancel()') Cancel