.container-fluid.add-language-to-region-form
	.row
		.modal-header
			h2 Add Language to Region
		.modal-body
			form
				.col-xs-12
					.form-group Select Language: &nbsp;
						select(ng-model="addLanguageId")
							option(ng-repeat="language in languages", value="{{language._id}}") {{language.name}}
				.col-xs-12
					button.btn.btn-default.pull-right(ng-click='addLanguageToRegion(regionId, addLanguageId)') Add Language
					button.btn.btn-default.pull-right(ng-click='cancel()') Cancel