.container-fluid.add-region-form
	.row
		.modal-header
			h2 Add Region to {{addRegionData.website}}
		.modal-body
			form
				.col-xs-12
					.form-group
						select(ng-model="addRegionId")
							option(ng-repeat="region in regions", value="{{region._id}}") {{region.name}}
				.col-xs-12
					button.btn.btn-default.pull-right(ng-click='addRegion(addRegionData.website, addRegionId)') Add Region
					button.btn.btn-default.pull-right(ng-click='cancel()') Cancel