.container-fluid.create-user-form
	.row
		.col-xs-2
		.col.xs-8
			.modal-header
				h2 Create User
			.modal-body
				form
					.col-xs-6
						.form-group
							input.form-control(ng-model="createUserData.firstName", name='first-name', type='text', placeholder='First Name')
					.col-xs-6
						.form-group
							input.form-control(ng-model="createUserData.lastName", name='last-name', type='text', placeholder='Last Name')
					.col-xs-12
						.form-group
							input.form-control(ng-model="createUserData.email", name='email', type='text', placeholder='Email Address')
					.col-xs-12
						.form-group
							input.form-control(ng-model="createUserData.username", name='username', type='text', placeholder='Username')
					.col-xs-12
						.form-group
							input.form-control(ng-model="createUserData.password", name='password', type='password', placeholder='Password')
					.col-xs-12
						button.btn.btn-default.pull-right(ng-click='createUser(createUserData)') Create User
						button.btn.btn-default.pull-right(ng-click='cancel()') Cancel

	.col-xs-2
