.container-fluid.create-region-form
	.row
		.modal-header
			h2 Create Region
		.modal-body
			form
				.col-xs-12
					.form-group
						input.form-control(ng-model="createRegionData.name", name='name', type='text', placeholder='Name')
				.col-xs-12
					.form-group
						input.form-control(ng-model="createRegionData.slug", name='slug', type='text', placeholder='slug')
				.col-xs-12
					button.btn.btn-default.pull-right(ng-click='createRegion(createRegionData)') Create Region
					button.btn.btn-default.pull-right(ng-click='cancel()') Cancel
