.container-fluid.create-locale-form
	.row
		.modal-header
			h2 Create Locale
		.modal-body
			form
				.col-xs-12
					.form-group
						input.form-control(ng-model="createLocaleData.name", name='name', type='text', placeholder='Name')
				.col-xs-12
					.form-group
						input.form-control(ng-model="createLocaleData.slug", name='slug', type='text', placeholder='slug')
				.col-xs-12
					button.btn.btn-default.pull-right(ng-click='createLocale(createLocaleData)') Create Locale
					button.btn.btn-default.pull-right(ng-click='cancel()') Cancel
