.container-fluid.create-website-form
	.row
		.modal-header
			h2 Create Website
		.modal-body
			form
				.col-xs-12
					.form-group
						input.form-control(ng-model="createWebsiteData.name", name='name', type='text', placeholder='Name')
				.col-xs-12
					.form-group
						input.form-control(ng-model="createWebsiteData.slug", name='slug', type='text', placeholder='slug')
				.col-xs-12
					.form-group
						input.form-control(ng-model="createWebsiteData.domain", name='domain', type='text', placeholder='Domain')
				.col-xs-12
					button.btn.btn-default.pull-right(ng-click='createWebsite(createWebsiteData)') Create Website
					button.btn.btn-default.pull-right(ng-click='cancel()') Cancel
