ultraCream = #FFFAEF
backgroundColor = #2c2e2f
bodyColor = #A9A591
linkColor = #A9A591
hoverColor = #F90
borderColor = darken(backgroundColor, 7)
copyColor = #eee

primaryColor = #337ab7
successColor = #5cb85c
infoColor = #5bc0de
warningColor = #f0ad4e
dangerColor = #d9534f

*
	transition all 0.3s ease

html
	height 100%
body
	font-family 'Helvetica', 'Arial', sans
	height 100%
	background backgroundColor
	color bodyColor
	
h1, h2, h3, h4, h5
	font-weight 300
	letter-spacing -.05em
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	
form
	input, textarea
		font-size 14pt !important
		padding .5em

input, .form-control
	background bodyColor
	border-color borderColor
	color backgroundColor

a
	color linkColor
	h2
		padding 0
		margin 0
	
a:hover, a:focus
	color hoverColor

h1.section-header
	margin-left 0
	font-weight 200

::-webkit-input-placeholder {
   color lighten(backgroundColor, 12)
}
:-moz-placeholder { /* Firefox 18- */
   color lighten(backgroundColor, 12)  
}
::-moz-placeholder {  /* Firefox 19+ */
   color lighten(backgroundColor, 12)  
}
:-ms-input-placeholder {  
   color lighten(backgroundColor, 12)
}
.breadcrumb > li + li:before
	color backgroundColor
.breadcrumb
	background none
	margin 0
	padding 0
	font-size 10pt
	a
		color backgroundColor
	a.active
		color bodyColor
		background darken(bodyColor, 30)
		padding 4px 10px 3px 10px
		border-radius 5px
	a.active:hover
		text-decoration none
		cursor default
	
.modal-content
	background backgroundColor
	
.modal-header, .modal-footer
	border-color bodyColor

.dropdown-menu > li > a
	background backgroundColor
	color white
	font-weight 200

.dropdown-menu
	background backgroundColor
	color copyColor

.list-header
	margin 1em

.navbar
	margin-bottom 0
	border-color borderColor
	background darken(backgroundColor, 5)
	
.well
	padding .5em
	margin-bottom .5em
	background darken(backgroundColor, 7)
	border 1px solid darken(backgroundColor, 10)
	border-right-color light(backgroundColor, 5)
	border-bottom-color light(backgroundColor, 5)
	.btn-default
		background bodyColor
		border-color borderColor
	
.center
	text-align center

.danger
	color red
	
.login-options
	a
		margin 0 0 0 1em
.main-nav
	background darken(backgroundColor, 3.3)
	position absolute
	width 250px
	height 100%
	padding 0
	h4
		margin-left 7px
	input
		background backgroundColor
		border 1px solid darken(backgroundColor, 5)
		border-right-color lighten(backgroundColor, 5)
		border-bottom-color lighten(backgroundColor, 5)
		border-radius 7px
		color bodyColor
	ul
		margin-right .25em
		list-style none
		padding 0
		font-size 14pt
		li.active
			border-bottom 1px solid lighten(backgroundColor, 3)
			border-right 1px solid lighten(backgroundColor, 3)
			border-top 1px solid black
			border-left 1px solid black
			margin-bottom .25em
		li
			padding .25ex .5em
			font-weight 200
			a
				.glyphicon
					transition all 0.6s ease
					margin-right -6px
					font-size 10pt
					border 3px solid white
					border-color rgba(255, 255, 255, 0)
					padding 4px
					border-radius 50%
			a:hover
				text-decoration none
				.glyphicon
					margin-right 0
					border 3px solid hoverColor
	.admin-history-heading
		margin-top 2em
	ul.admin-history
		margin-right .25em
		font-size 11pt
		li
			border 1px solid borderColor
			border-right-color lighten(backgroundColor, 5)
			border-bottom-color lighten(backgroundColor, 5)
			margin .25em 0
			border-radius 7px
			.well
				max-height 0
				overflow hidden
				padding 0
				background darken(backgroundColor, 7)
				border 1px solid darken(backgroundColor, 10)
				border-right-color lighten(backgroundColor, 5)
				border-bottom-color lighten(backgroundColor, 5)
				color lighten(backgroundColor, 15)
			.created
				display none
		li:hover
			background-color lighten(backgroundColor, 5)
			.well
				max-height 100%
				padding inherit
				background ultraCream
				color black
			.created
				display inline
		.name
			font-weight bold
		.options
			font-size 10pt
		.query
			font-size 8pt
		.data
			font-size 6pt
		.created 
			font-size 8pt
	.select-admin-history-limit
		margin-right .5em
		input
			max-width 47px
			text-align right
		.instruction
			color #BBB
		
.main-container
	height 100%
	margin-left 250px

.login-options
	.name
		font-weight bold
		
.login-form, .modal-body
	font-size 14pt
	label
		font-weight 300
		letter-spacing -.01em
	input
		width 100%
		border 1px solid borderColor
		border-radius 5px
		padding .5em
		margin .25em

ul.languages, ul.regions, ul.websites, ul.pages, ul.menus, ul.content-groups
	list-style none
	padding 0
	li
		border 1px solid borderColor
		border-bottom-color lighten(backgroundColor, 10)
		border-right-color lighten(backgroundColor, 10)
		border-radius 5px
		padding .5em
		margin .25em
		margin-bottom .5em
		background darken(backgroundColor, 5)
		ul.dropdown-menu
			li
				display inline
				background lighten(backgroundColor, 5)
				border 0
				border-radius 0
				padding 0
				margin 0
				min-height 0

.supported-languages, .supported-regions, .supported-content-groups, .supported-menus, .supported-pages
	ul
		list-style none
		padding 0
		li
			margin-right 10px
			position relative
			display inline-block
			border-radius 5px
			box-shadow 0 1px 3px rgba(34,25,25,0.4)
			background backgroundColor
	.button-container
		li
			background none
			padding 0
			box-shadow none

.delete-button
	position absolute
	right -10px
	top -3px
	background red
	color white
	box-shadow 1px 2px 2px rgba(34,25,25,0.7)
	font-size 8pt
	padding 2px 2px 0px 2px
	border-radius 50%
	opacity .25
	
.delete-button:hover
	opacity 1
	color white
	
.delete-disabled
	.delete-button
		display none
	.supported-languages, .supported-regions, .supported-content-groups, .supported-menus, .supported-pages
		ul
			li
				margin-right 3px

.region-language-selector
	width 100%
	float left
	ul
		padding 0 .75em
	li
		list-style none
	.active-region
		background darken(backgroundColor, 5)
		border 1px solid borderColor
		border-bottom-color lighten(backgroundColor, 5)
		border-right-color lighten(backgroundColor, 5)
		border-radius 10px
		font-size 14pt
		padding .5em
		display inline-block
		width 100%
		margin-bottom 1em
		font-weight bold
		color hoverColor
		li
			font-weight normal
		.active-language
			color hoverColor
			text-decoration none
			padding .35em .5em
			margin .25em 0
			border-radius 10px
			font-weight bold

.list-overview
	padding-left .5em
	ul
		text-align right
		padding 0
	li
		background lighten(backgroundColor, 5)
		list-style none
		padding-right 1em
	h2
		small
			font-size 12pt
			a
				color #777
			.glyphicon
				font-size 9pt	
		font-size
	.dropdown-menu
		li
			background none
			padding-right 0
	.setting-button
		button
			font-size 9pt
			padding .25em
		.glyphicon-triangle-bottom
			font-size 10pt
	.setting-button:hover
		text-decoration none
	.list-item
		display block
		//border-left-color borderColor !important
		border-width 0 !important
		border-right-width 3px !important
		border-left-width 9px !important
		margin 1em 1em 1em 0em
		border 1px solid
		padding .75em
		border-radius 5px
		h2
			margin-top .25em
		button
			font-size 14pt
			font-weight 200
			padding-bottom 2px
		li
			display inline
	.high-risk
		border-color dangerColor
	.medium-risk
		border-color warningColor
	.low-risk
		border-color successColor

.btn-mellow
	background backgroundColor
	color bodyColor
	border 1px solid darken(backgroundColor, 7)
	
.btn-mellow:hover, .btn-mellow:focus
	background-color darken(backgroundColor, 7)
	color orange
	
.btn-lush
	background bodyColor
	color backgroundColor

.mellow-label
	color darken(bodyColor, 30)
	
.mellow-label:hover
	color bodyColor

.header-label
	color white
	padding .25em
	padding-right .75em
	text-align center
	font-weight bold
	margin 0

.btn-antique
	background lighten(backgroundColor, 10)
	
.reactivate-button
	margin-right 1em

.team-status
	position relative
	background-color darken(bodyColor, 10)
	color backgroundColor
	padding .5em
	text-align center
	min-height 25px
	max-height 30px
	overflow hidden
	.state-label.offline
		display block
	.state-label.online
		display none
	.coworker
		margin 25px 10px 0 10px
		display inline-block
	.coworker.online-state
		.state-label.offline
			display none
		.state-label.online
			display block
	h3
		margin 0
	.breadcrumb
		position absolute
		left 20px
		top 6px
	.team-status-toggle
		color backgroundColor
		position absolute
		font-size 10pt
		right 20px
		top 6px
	.avatar
		margin-bottom 5px
		img
			max-height 75px
			border-radius 10px
			border 2px solid bodyColor
	.online-state
		.avatar
			img
				border-color #99FF99
		.state-label
			color #99FF99

.team-status.show-details
	max-height 100vh
	
textarea[name="bodyContent"]
	min-height 300px
	
.btn-group-vertical
	width 100%

.vs-label
	text-align center
	
.footer
	background-color darken(backgroundColor, 5)
	padding 1em
	margin-top 2em
	.logo
		img
			max-height 150px
	
.website-details
	.list-overview 
		.list-item
			.edit-group-button
				width 100%
			button.btn-lush
				font-size 11pt
				margin-top 15px
	.btn-lush
		display none
				
.hide-main-nav
	.push-options
		//display none

.nav-tabs
	border-color bodyColor
	li.active, li:hover
		a, a:focus, a:hover
			background-color bodyColor
			border-color bodyColor
			color backgroundColor
			
.summary-list
	ul
		padding .5em
		li
			margin .25em
			display inline
			font-size 12pt

.tab-content
	.btn-lush
		margin-top -.5em