ultraCream = #FFFAEF
backgroundColor = #2c2e2f
bodyColor = #A9A591
linkColor = #A9A591
hoverColor = #F90
borderColor = darken(backgroundColor, 7)
copyColor = #eee

*
	transition all 0.3s ease
	border-radius 0 !important

html
	height 100%
body
	font-family 'Helvetica', 'Arial', sans
	height 100%
	background backgroundColor
	color bodyColor
	
h1, h2, h3, h4, h5
	font-weight 300
	letter-spacing -.05em
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	
form
	input, textarea
		font-size 14pt !important
		padding .5em
		letter-spacing .067em
	input[type='submit']
		letter-spacing 0
a
	color linkColor
	
input, .form-control
	background bodyColor
	border-color borderColor
	color backgroundColor
	
a:hover, a:focus
	color hoverColor

h1.section-header
	margin-left 0

::-webkit-input-placeholder {
   color lighten(backgroundColor, 12)
}
:-moz-placeholder { /* Firefox 18- */
   color lighten(backgroundColor, 12)  
}
::-moz-placeholder {  /* Firefox 19+ */
   color lighten(backgroundColor, 12)  
}
:-ms-input-placeholder {  
   color lighten(backgroundColor, 12)
}

.breadcrumb
	background-color backgroundColor
	margin 0
	
.modal-content
	background backgroundColor
	
.modal-header, .modal-footer
	border-color bodyColor

.dropdown-menu > li > a
	background backgroundColor
	color white
	font-weight 200

.dropdown-menu
	background backgroundColor
	color copyColor

.list-header
	margin 1em

.navbar
	margin-bottom 0
	border-color borderColor
	background darken(backgroundColor, 5)
	
.well
	padding .5em
	margin-bottom .5em
	background darken(backgroundColor, 7)
	border 1px solid darken(backgroundColor, 10)
	border-right-color light(backgroundColor, 5)
	border-bottom-color light(backgroundColor, 5)
	.btn-default
		background bodyColor
		border-color borderColor
	
.center
	text-align center

.danger
	color red
	
.login-options
	a
		margin 0 0 0 1em
.main-nav
	//background darken(backgroundColor, 3.3)
	width 250px
	height 100%
	padding 0
	h4
		margin-left 7px
	input
		background backgroundColor
		border 1px solid darken(backgroundColor, 5)
		border-right-color lighten(backgroundColor, 5)
		border-bottom-color lighten(backgroundColor, 5)
		color bodyColor
	ul
		margin-right .25em
		list-style none
		padding 0
		font-size 14pt
		li
			padding .25ex .5em
			font-weight 200
			border-bottom 1px solid lighten(backgroundColor, 3)
			border-right 1px solid lighten(backgroundColor, 3)
			border-top 1px solid black
			border-left 1px solid black
			margin-bottom .25em
			a
				.glyphicon
					transition all 0.6s ease
					margin-right -6px
					font-size 10pt
					border 3px solid white
					border-color rgba(255, 255, 255, 0)
					padding 4px
					border-radius 50%
			a:hover
				text-decoration none
				.glyphicon
					margin-right 0
					border 3px solid hoverColor
	.admin-history-heading
		margin-top 2em
	ul.admin-history
		margin-right .25em
		font-size 11pt
		li
			border 1px solid borderColor
			border-right-color lighten(backgroundColor, 5)
			border-bottom-color lighten(backgroundColor, 5)
			margin .25em 0
			.well
				max-height 0
				overflow hidden
				padding 0
				background darken(backgroundColor, 7)
				border 1px solid darken(backgroundColor, 10)
				border-right-color lighten(backgroundColor, 5)
				border-bottom-color lighten(backgroundColor, 5)
				color lighten(backgroundColor, 15)
			.created
				display none
		li:hover
			background-color lighten(backgroundColor, 5)
			.well
				max-height 100%
				padding inherit
				background ultraCream
				color black
			.created
				display inline
		.name
			font-weight bold
		.options
			font-size 10pt
		.query
			font-size 8pt
		.data
			font-size 6pt
		.created 
			font-size 8pt
	.select-admin-history-limit
		margin-right .5em
		input
			max-width 47px
			text-align right
		.instruction
			color #BBB
		
.main-container
	height 100%
	margin-left 250px

.login-options
	.name
		font-weight bold
		
.login-form, .modal-body
	font-size 14pt
	label
		font-weight 300
		letter-spacing -.01em
	input
		width 100%
		border 1px solid borderColor
		border-radius 5px
		padding .5em
		margin .25em

ul.languages, ul.regions, ul.websites, ul.pages, ul.menus, ul.content-groups
	list-style none
	padding 0
	li
		border 1px solid borderColor
		border-bottom-color lighten(backgroundColor, 10)
		border-right-color lighten(backgroundColor, 10)
		border-radius 5px
		padding .5em
		margin .25em
		margin-bottom .5em
		background lighten(backgroundColor, 5)
		ul.dropdown-menu
			li
				display inline
				background lighten(backgroundColor, 5)
				border 0
				border-radius 0
				padding 0
				margin 0
				min-height 0

.supported-languages, .supported-regions, .supported-content-groups, .supported-menus, .supported-pages
	ul
		list-style none
		padding 0
		li
			margin-right 10px
			position relative
			display inline-block
			border-radius 5px
			box-shadow 0 1px 3px rgba(34,25,25,0.4)
			background backgroundColor
	.button-container
		li
			background none
			padding 0
			box-shadow none

.delete-button
	position absolute
	right -10px
	top -3px
	background red
	color white
	box-shadow 1px 2px 2px rgba(34,25,25,0.7)
	font-size 8pt
	padding 2px 2px 0px 2px
	border-radius 50%
	opacity .25
	
.delete-button:hover
	opacity 1
	color white
	
.delete-disabled
	.delete-button
		display none
	.supported-languages, .supported-regions, .supported-content-groups, .supported-menus, .supported-pages
		ul
			li
				margin-right 3px

.region-language-selector
	width 100%
	float left
	ul
		padding 0 .75em
	li
		list-style none
	.active-region
		background darken(backgroundColor, 5)
		border 1px solid borderColor
		border-bottom-color lighten(backgroundColor, 5)
		border-right-color lighten(backgroundColor, 5)
		border-radius 10px
		font-size 14pt
		padding .5em
		display inline-block
		width 100%
		margin-bottom 1em
		font-weight bold
		color hoverColor
		li
			font-weight normal
		.active-language
			color hoverColor
			text-decoration none
			padding .35em .5em
			margin .25em 0
			border-radius 10px
			font-weight bold

.list-overview
	padding-left .5em
	ul
		text-align right
		padding 0
	li
		background lighten(backgroundColor, 5)
		list-style none
		padding-right 1em
	h2
		small
			font-size 12pt
			a
				color #777
			.glyphicon
				font-size 9pt	
		font-size
	.dropdown-menu
		li
			background none
			padding-right 0
	.setting-button
		button
			font-size 9pt
			padding .25em
		.glyphicon-triangle-bottom
			font-size 10pt
	.setting-button:hover
		text-decoration none
	.list-item
		display block
		//border-left-color borderColor !important
		border-width 0 !important
		border-right-width 3px !important
		border-left-width 9px !important
		margin 1em 1em 1em 0em
		border 1px solid
		padding .75em
		h2
			margin-top .25em
		button
			border-radius 0
			font-size 16pt
			font-weight 200
			padding-bottom 2px
		li
			display inline

.btn-mellow
	background backgroundColor
	color bodyColor
	
.btn-mellow:hover, .btn-mellow:focus
	backgroundColor darken(backgroundColor, 7)
	color orange
	
.header-label
	color white
	padding .25em
	padding-right .75em
	text-align center
	font-weight bold
	margin 0

.btn-antique
	background lighten(backgroundColor, 10)
	
.reactivate-button
	margin-right 1em

.team-status
	display none
