template(name='layout')
	nav.navbar.navbar-inverse
		.container-fluid
			header
				.login-options.pull-right
					if currentUser
						if deleteEnabled
							a.allow-delete-toggle.btn.btn-danger(href='#') Disable Delete
						else
							a.allow-delete-toggle.btn.btn-warning(href='#') Enable Delete
						a(href='/logout') Logout 
							span.name {{currentUser.profile.name}}
				h1 
					a(href='/') Wolop
	if currentUser
		.team-status
			each coworkers
				.coworker(class='{{ state }}', data-id='{{ userId }}')
					with getUserDetails userId
						h3= profile.name

		.main-nav.pull-left
			ul
				each navData
					li
						a(href="/{{ link }}") 
							.glyphicon(class="glyphicon-{{ icon }}")
							| {{ name }}
			.admin-history-heading
				.select-admin-history-limit.pull-right
					span.instruction show:
					input(min='1', max='30', type='number', value='{{ adminHistoryLimit }}')
				h4 Event History
			ul.admin-history 
				each adminHistory
					li 
						span.name {{user}}
						span.description - {{description}}
						.well
							.options {{options}} 
							.query {{query}}
							.data {{data}}
						.created {{created}}
	.container-fluid.main-container(class="{{ deleteEnabledClass }}")
		.row
			main
				+yield