template(name='layout')
	.global-wrapper(class='{{ getGlobalWrapperClasses }}')
		nav.navbar.navbar-inverse
			.container-fluid
				header
					.login-options.pull-right
						if currentUser
							if deleteEnabled
								a.allow-delete-toggle.btn.btn-success(href='#') Disable Delete
							else
								a.allow-delete-toggle.btn.btn-danger(href='#') Enable Delete
							a(href='/logout') Logout 
								span.name {{currentUser.profile.name}}
					h1 
						a(href='/') Wolop
		if currentUser
			.team-status
				a.team-status-toggle(href='#') Show Team Status
				+breadcrumbs
				each coworkers
					.coworker(class='{{ state }}-state', data-id='{{ userId }}')
						with getUserDetails userId
							.profile
								.avatar
									if profile.avatar
										img(src='{{ profile.avatar }}')
									else
										img(src='http://www.daisygreenmagazine.co.uk/wp-content/uploads/2010/10/iStock-potato.jpg')
								.state-label.online Online
								.state-label.offline Offline
								h3= profile.name
						

			.main-nav
				ul
					each navData
						li
							a(href="/{{ link }}") 
								.glyphicon(class="glyphicon-{{ icon }}")
								| {{ name }}
				.admin-history-heading
					.select-admin-history-limit.pull-right
						span.instruction show:
						input(min='1', max='30', type='number', value='{{ adminHistoryLimit }}')
					h4 Event History
				ul.admin-history 
					each adminHistory
						li 
							span.name {{user}}
							span.description - {{description}}
							.well
								.options {{options}} 
								.query {{query}}
								.data {{data}}
							.created {{created}}
		.container-fluid.main-container(class="{{ deleteEnabledClass }}")
			.row
				main
					+yield