template(name='contentGroups')
	.container-fluid
		.row
			.col-xs-12
				button.btn.btn-primary.pull-right.add-item-button Add Content Group
				h1 Content Groups
				.modal.fade.add-item-modal
					.modal-dialog
						.modal-content
							form.add-item-form
								.modal-header
									h4.modal-title Add Content Group
								.modal-body
									.col-xs-6
										input(name='name', placeholder='name')
									.col-xs-6
										input(name='slug', placeholder='slug')
									.col-xs-12
										label Risk Level
										select.form-control(name='riskLevel')
											option(value='undefined') Undefined
											option(value='low') Low Risk (use for test)
											option(value='medium') Medium Risk (use for staging)
											option(value='high') LIVE
									.clearfix
								.modal-footer
									input(type='hidden', name='isActive', value='on')
									button.btn.btn-warning Cancel
									button.btn.btn-success(type='submit') Add Content Group
			.col-xs-12
				ul.content-groups
					each contentGroups
						li.content-group(data-slug='{{ slug }}')
							h3.name {{ name }}
								small - {{ slug }}
							.supported-regions.well
								.dropdown.pull-right
									button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown') add region
										span.glyphicon.glyphicon-triangle-bottom
									ul.dropdown-menu(role='menu')
										each regions
											li(role='presentation')
												a.add-region-to-content-group(href='#', data-slug='{{ slug }}' role='menuitem', tabindex='-1') {{ name }}
								if supportedRegions
									h4 regions:
									ul
										each supportedRegions
											li
												a.delete-button.remove-region-from-content-group(href='#', data-slug='{{.}}') 
													span.glyphicon.glyphicon-remove
												span.slug {{.}}
								else
									h4 (no regions in this content group)
							.supported-menus.well
								.dropdown.pull-right
									button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown') add menu
										span.glyphicon.glyphicon-triangle-bottom
									ul.dropdown-menu(role='menu')
										each menus
											li(role='presentation')
												a.add-menu-to-content-group(href='#', data-slug='{{ slug }}' role='menuitem', tabindex='-1') {{ name }}
								if supportedMenus
									h4 menus:
									ul.button-container
										each supportedMenus
											li
												a.delete-button.remove-menu-from-content-group(href='#', data-slug='{{.}}')
													span.glyphicon.glyphicon-remove
												button.btn.btn-primary.edit-menu-button.slug(data-slug='{{.}}') {{.}}
								else
									h4 (no menus in this content group)
							.supported-pages.well
								.dropdown.pull-right
									button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown') add page
										span.glyphicon.glyphicon-triangle-bottom
									ul.dropdown-menu(role='menu')
										each pages
											li(role='presentation')
												a.add-page-to-content-group(href='#', data-slug='{{ slug }}' role='menuitem', tabindex='-1') {{ name }}
								if supportedPages
									h4 pages:
									ul.button-container
										each supportedPages
											li
												a.delete-button.remove-page-from-content-group(href='#', data-slug='{{.}}')
													span.glyphicon.glyphicon-remove
												button.btn.btn-primary.edit-page-button.slug(data-slug='{{.}}') {{.}}
								else
									h4 (no pages in this content group)
