template(name='editMenuDetails')
	.col-xs-8
		h1 Edit Menu Details
		h2= contentGroup.name
		h3 Pages
		ul.pages
			each contentGroup.supportedPages
				li.page= this
	.col-xs-4
		h3 Region/Language
		.region-language-selector
			ul.regions
			each contentGroup.supportedRegions
				with getRegion this 
					li.region(data-slug='{{ slug }}', class='{{ isCurrentRegion slug }}')
						span.name= name
						if supportedLanguages
							ul.supported-languages
								each supportedLanguages
									li.language
										with getLanguage this
											a.set-region-and-language.name(href='#', data-slug='{{ slug }}', class='{{ isCurrentLanguage slug }}')= name
