template(name='home')
	.list-header
		button.btn.btn-primary.pull-right.add-item-button Add Website
		h1 Websites
		.modal.fade.add-item-modal
			.modal-dialog
				.modal-content
					form.add-item-form
						.modal-header
							h4.modal-title Add Website
						.modal-body
							.col-xs-6
								input(name='name', placeholder='name')
							.col-xs-6
								input(name='slug', placeholder='slug')
							.col-xs-12
								input(name='url', placeholder='url')
							.col-xs-12
								label Default Region
								select.form-control(name='supportedRegions')
									each regions
										option(value='{{ slug }}')= name
							.clearfix
						.modal-footer
							input(type='hidden', name='isActive', value='on')
							button.btn.btn-warning Cancel
							button.btn.btn-success(type='submit') Add Website
	ul.websites-overview.list-overview
		each websites
			li.list-item.website(data-slug='{{ slug }}', style='border-color: #{{ hashColor slug }}')
				if deleteEnabled
					button.btn.btn-danger.pull-right(data-slug='{{ slug }}') Deactivate
				//.btn-group.setting-button.pull-right
					button.btn.btn-antique.dropdown-toggle(data-toggle='dropdown')
						span.glyphicon.glyphicon-cog
						span.glyphicon.glyphicon-triangle-bottom
					ul.dropdown-menu(role='menu')
						li
							a(href='/website-details/{{ slug }}') Edit Website
						li
							a.add-content-group-link(href='#', data-slug='{{ slug }}') Add Content Group
						if deleteEnabled
							li.danger
								a.disable-website(href='#', data-slug='{{ slug }}') Deactivate Website
				h2 {{ name }}
					small - 
						a(href='http://{{ url }}')= url
						span.glyphicon.glyphicon-share
				ul
					each supportedContentGroups
						with getContentGroupDetails this
							li.content-group
								button.btn.edit-content-group-button(class='{{ getRiskAsBsClass riskLevel }}', data-slug='{{ slug }}')= name
		
