template(name='menus')
	.container-fluid
		.row
			.col-xs-12
				button.btn.btn-primary.pull-right.add-item-button Add Menu
				h1 Menus
				.modal.fade.add-item-modal
					.modal-dialog
						.modal-content
							form.add-item-form
								.modal-header
									h4.modal-title Add Menu
								.modal-body
									.col-xs-6
										input(name='name', placeholder='name')
									.col-xs-6
										input(name='slug', placeholder='slug')
									.clearfix
								.modal-footer
									button.btn.btn-warning Cancel
									button.btn.btn-success(type='submit') Add Menu
			.col-xs-12
				ul.menus
					each menus
						li 
							h4 {{name}}