template(name='regions')
	.container-fluid
		.row
			.col-xs-12
				button.btn.btn-primary.pull-right.add-item-button Add Region
				h1 Regions
				.modal.fade.add-item-modal
					.modal-dialog
						.modal-content
							form.add-item-form
								.modal-header
									h4.modal-title Add Region
								.modal-body
									.col-xs-6
										input(name='name', placeholder='name')
									.col-xs-6
										input(name='slug', placeholder='slug')
									.clearfix
								.modal-footer
									input(type='hidden', name='isActive', value='on')
									button.btn.btn-warning Cancel
									button.btn.btn-success(type='submit') Add Region
			.col-xs-12
				ul.regions
					each regions
						li.region(data-slug='{{ slug }}')
							h3
								span.name= name
								span.slug - {{ slug }}
							.supported-languages.well
								.dropdown.pull-right
									button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown') add language
										span.glyphicon.glyphicon-triangle-bottom
									ul.dropdown-menu(role='menu')
										each languages
											li(role='presentation')
												a.add-language-to-region(href='#', data-slug='{{ slug }}' role='menuitem', tabindex='-1') {{ name }}
								
								if supportedLanguages
									h4 languages:
									ul
										each supportedLanguages
											li
												a.delete-button.remove-language-from-region(href='#', data-slug='{{.}}') 
													span.glyphicon.glyphicon-remove
												span.slug {{.}}
								else
									h4 (no languages in this region)