.container-fluid
	.row
		button.btn.btn-default.pull-right New Page
		h1 Pages
	.row
		div(ui-ace="{mode:'html', theme:'textmate'}") This is a demo of the HTML editor
	//-.row
		ui-codemirror(ui-codemirror-opts='codemirrorOptions') This is a demo of CodeMirror
