.container-fluid.website-content-group-details
	.row
		h1 {{site.name}}
			span.name.group-name &nbsp;- {{group.name}}
			span.name.region-name(ng-show="currentRegionName") &nbsp;- {{currentRegionName}}
			span.name.language-name(ng-show="currentLanguageName") &nbsp;- {{currentLanguageName}}
	.row(ng-show="site.regions.length > 1")
		.col-xs-2
			h4 Content Regions:
		.col-xs-10
			.region-list.btn-group.center-block
				button(type="button", class="btn btn-default", ng-click="setRegion(region.slug)", ng-class="currentRegion == region.slug ? 'active' : ''", ng-repeat="region in site.regions") 
					img(ng-src="{{region.icon}}")
					span.name &nbsp;{{region.name}}
	.row(ng-show="currentRegion")
		buttton.pull-right(type="button", class="btn btn-default", ng-click="showAddMenu(group._id)") add menu
		h4 Menus ({{group.menus.length}}):
		.container-fluid.menus
			.row.menu(ng-repeat="menu in group.menus")
				a(ng-href="#/edit-menu/{{menu.slug}}") 
					span.name {{menu.name}}
	.row(ng-show="currentRegion")
		buttton.pull-right(type="button", class="btn btn-default", ng-click="showAddPage(group._id)") add page
		h4 Pages ({{group.pages.length}}):
		.container-fluid.pages
			.row.page(ng-repeat="page in group.pages")
				a(ng-href="#/edit-page/{{page.slug}}") {{page.name}}
				.languages-list.btn-group.pull-right
					a(ng-href="#/edit-page-by-locale/{{page.slug}}/region/{{currentRegion}}/language/{{lang.slug}}", class="btn btn-default", ng-repeat="lang in currentLanguages")
						span.name {{lang.name}}