template(name='breadcrumbs')
	ol.breadcrumb
		li
			a.admin-menu-toggle(href='#')
				span.glyphicon.glyphicon-cog
		li
			a(class='{{ isActivePath "/home" }}', href='/home') 
						span.glyphicon.glyphicon-home
						| Home
		if websiteContext
			li
				a(class='{{ isActivePath "/website-details/:slug" }}', href='/website-details/{{ websiteContext.slug }}')
						span.glyphicon.glyphicon-globe
						| {{ websiteContext.name }}
		if contentGroupContext and websiteContext
			li
				a(class='{{ isActivePath "/edit-content-group/:website/:group" }}', href='/edit-content-group/{{ websiteContext.slug }}/{{ contentGroupContext.slug }}')
						span.glyphicon.glyphicon-book
						| {{ contentGroupContext.name }}
		if regionContext and contentGroupContext and websiteContext
			li
				a(class='{{ isActivePath "/regions" }}', href='/regions#{{ regionContext.slug }}')
						span.glyphicon.glyphicon-flag
						| {{ regionContext.name }}
		if languageContext and regionContext and contentGroupContext and websiteContext
			li
				a(class='{{ isActivePath "/languages" }}', href='/languages#{{ languageContext.slug }}')
						span.glyphicon.glyphicon-yen
						| {{ languageContext.name }}
