template(name='loading')
	.center
		h1 Loading...

template(name='loginRequired')
	.login-form
		h1 Login Required
		form
			table
				tr
					td
						input(name='username', placeholder='email')
				tr
					td
						input(name='password', type='password', placeholder='password')
				tr
					td
						input.btn.btn-primary.submit-button(type='submit', value='Login')

template(name='logout')
	.center
		h1 Logout
		h2 Y'all come back now, ya hear?
