extends layout

block content
	.row
		div(ng-show="!isLoggedIn")
			.col-xs-2
			.col-xs-8
				.panel.panel-default
					.panel-heading Please Login
					.panel-body
						.col-xs-4
							img(src='/images/wolop-logo.png', style='max-height: 150px')
						.col-xs-8
							form
								.form-group
									input.form-control(type='text', placeholder='Username')
								.form-group
									input.form-control(type='password', placeholder='Password')
								button.btn.btn-default.pull-right(type='submit') Login
			.col-xs-2
