doctype html
html
	head
		title Lifeplus - #{title}
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		script(src='/javascripts/bootstrap.js')
		script(src='/javascripts/script.js')
	body
		.container-fluid.main-container
			.row.logo
				img(src='/images/wolop-logo.png', style="max-height: 200px;")
			.row.main-row
				block content