doctype html
html
	head
		title #{title}
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='../socket.io/socket.io.js')
		script(src='/javascripts/jquery.min.js')
		script(src='/javascripts/bower_components/ace-builds/src-min-noconflict/ace.js')
		script(src='/javascripts/bower_components/angular/angular.js')
		script(src='/javascripts/bower_components/angular-ui-ace/ui-ace.js')
		script(src='/javascripts/angular/angular-route.js')
		script(src='/javascripts/bootstrap.js')
		script(src='/javascripts/angular-bootstrap/ui-bootstrap-tpls.js')
		script(src='/javascripts/client.js')
		script(src='/javascripts/widgets/chat.js')
	body.angular-app(ng-app="wolop-cms", ng-controller="CmsController as mainController")
		nav-bar(ng-show="isLoggedIn")
		.container.main-container
			.row.main-row
				block content
			.row.main-footer
				chat-widget(ng-show="isLoggedIn")
