.chat-widget
	.panel.panel-default 
		.panel-heading
			ul.peers
				li(ng-repeat="peer in peers", data-id="{{peer._id}}") {{peer.firstName}} {{peer.lastName}}
					span(ng-show="peer.workingOn") &nbsp;- {{peer.workingOn}}
		.panel-body
			ul.chat-output
				li(ng-repeat="chat in chatArray", ng-class="chat.user._id == userData._id ? 'is-self' : 'is-other'") 
					.username {{chat.user.firstName}}: &nbsp;
					.message {{chat.message}}
		.panel-footer
			form(ng-submit='sendMessage()')
				.input-group
					input.form-control(ng-model='chatMessage', type='text', placeholder='message')
					.input-group-btn
						button.btn.btn-default(type='submit') Chat