.region.col-xs-12.col-sm-6.col-md-4(ng-repeat="region in regions") 
	.panel.panel-default 
		.panel-heading 
			a(ng-click="editRegion(region._id)") 
				img(ng-src="{{region.icon}}")
				| &nbsp;{{region.name}} - {{region.slug | uppercase}}
		.panel-body.container-fluid
			.row 
				h1 Supported Languages:
				a.pull-right(ng-click="addLanguage(region._id)") [+]&nbsp
					span(ng-show="!region.languages.length") add language
				ul.languages
					li(ng-repeat="language in region.languages") {{language.name}}: {{region.slug | lowercase}}-{{language.slug | lowercase}}