.websites-overview-list
	.site.col-xs-12.col-sm-6.col-md-4.col-lg-3(ng-repeat="site in websites") 
		.panel.panel-default 
			.panel-heading 
				a(ng-href="#/website/{{site.slug}}") {{site.name}}
			.panel-body 
				a.pull-right(ng-click="addContentGroup(site.slug)") + new
				ul.content-groups
					li(ng-repeat="group in site.contentGroups") 
						a(ng-href="#/website/{{site.slug}}/content-group/{{group.slug}}"){{group.name}}
			.panel-footer
				.pull-right {{site.domain}}
				.clearfix
