.websites-overview-list
	.site.col-xs-12.col-sm-6.col-md-4.col-lg-3(ng-repeat="site in websites") 
		.panel.panel-default 
			.panel-heading 
				a.pull-right.small-note(href="http://{{site.domain}}") {{site.domain}}
				a(ng-href="#/website/{{site.slug}}") {{site.name}}
			.panel-body.container-fluid
				.row
					a.pull-right(ng-click="addContentGroup(site.slug)") +&nbsp
						span(ng-show="!site.contentGroups.length") add content group
					ul.content-groups
						li(ng-repeat="group in site.contentGroups")
							a(ng-href="#/website/{{site.slug}}/content-group/{{group.slug}}"){{group.name}}
			.panel-footer
				a.pull-right(ng-click="addRegion(site.slug)") +&nbsp;
					span(ng-show="!site.regions.length") add region
				ul.locales
					li(ng-repeat="region in site.regions") {{region.slug}}
